.header-container {
  padding: 0;
  height: auto;
  background-color: unset;
  background: #f5f5f5;
}

.header-top {
  width: 100%;
  font-size: 16px;
  max-height: 47px;
  line-height: 47px;
  @media (min-width: 1200px) {
  }
}

.header-bottom {
  background-color: #fff;
  height: 80px;
  padding: 1em 0;
}

.menu-page {
  font-family: "Roboto-BlackItalic";
  text-transform: uppercase;
  letter-spacing: 2px;
  display: block;
  border-bottom: none;
}

.subscribe-btn {
  height: 46px;
  margin: 20px 0;
}
.subscribe-btn .ant-input-affix-wrapper {
  height: 46px;
}
.subscribe-btn .ant-input-search-button {
  background-color: #7fad39;
  height: 46px;
}

.circle-hover:hover {
  background-color: #7fad39;
  fill: #fff;
}

.footer-top {
  margin-bottom: 1rem;
}
.footer-top-wrapper .ant-col-md-24 {
  padding-bottom: 20px;
}

.footer-bottom {
  border-top: 1px solid #ebebeb;
  padding-top: 1rem;
}

:export {
}
